{% extends 'laout.html' %}

{% block title %}
    Кабинет пользователя
{% endblock %}

{% block main %}
    <div style="margin-top: unset;" class="container container-auth container-main">
        <h1>Кабинет пользователя</h1>
        <div class="d-flex text-body-secondary pt-3 container">
            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" src="{{ user.profile.image.url }}" >
            <p class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class="d-block text-gray-dark">{{ user.username }}</strong>
                {% if user.email %}
                    <b>Email: {{ user.email }}</b>
                {% endif %}
            </p>
        </div>
        <form action="" method="post" enctype="multipart/form-data" class="form-register auth">
            {% csrf_token %}
            {{ updateUser.as_p }}
            {{ profileForm.as_p }}
            <button type="submit" class="btn btn-primary">Обновить</button>
        </form>
    </div>
{% endblock %}